.content{
  display: flex;
  flex-direction: row;
}

h1{
  text-transform: uppercase;
  text-align: center;
}

form{
  width: 47%;
  float: left;
}

.subres{

}

input{
  width: 85%;
  height: 35px;
  margin-bottom: 15px;
  border: solid;
  border-radius: 5px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}
button{
  width:20%;
  height: 25px;;
  border-radius: 5px;
  border: solid;
  margin-right: 15px;
  background-color: white;
}

.line{
  width: 5%;
  height: 500px;
  border-left: 1px solid black;
}

a{
  cursor: pointer;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

table {
  border-collapse: collapse;
  width: 50%;
  float: left;
}

th, td {
  text-align: left;
  padding: 15px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: black;
  color: white;
}
